.header{
    height: 50px;
     background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    
    
}
.header button{
 border-radius: 12px;
   padding: 5px;
    opacity: 1;

    background-color: rgba(0, 0, 0, 0.01);
    color: white;
    border: none;
    
    margin-left: 50px;;

        }


.header button:hover {
    background-color: #a2c73c;
    
}

.navigation{
    margin-top: 10px;
    margin-left: 40%;
}

#banner {
background-image: url("banner-img.png");
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center;
    
    
}
.parentgrid{
    height: 1024px;
    width: 100%;
}
.grid{
    width: 100%;
    height: 1024px;

    text-align: center;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
    margin-top: 110px;
  margin-left: 33.33%;
  margin-right: 33.33%; 
}
.grid-item {
  border: ;
 width: 265px;
 height: 265px; 
}

.grid-container .grid-item:nth-child(1){
    background-color: #a2c73c;
}
.grid-container .grid-item:nth-child(2){
    background-image: url(Amanora_JOD_projects_Neo.jpg);
}
.grid-container .grid-item:nth-child(3){
    background-color: #075daa;

}
.grid-container .grid-item:nth-child(4){
    background-image: url(Amanora_JOD_projects_Adreno.jpg);
}
.grid-container .grid-item:nth-child(5){
    
}
.grid-container .grid-item:nth-child(6){
    background-image: url(Amanora_JOD_projects_gateway.jpg);
}
.grid-container .grid-item:nth-child(7){
    background-color: #4494d1;
}
.grid-container .grid-item:nth-child(8){
    background-image: url(NEO-Gallery-Image-3-new.jpg);
}
.grid-container .grid-item:nth-child(9){
    background-color: #0eb049;
}



.well
{
    height: 540px;
    width: 100%;
    background-color:#0072bc;
    text-align: center;
}

.well #welltitle {
    font-size: 36px;
    position: relative;
    top:125px;
    text-align: center;
    color: white;
   
}

.well #wellcontent{
    
    position: relative;
    top:125px;
    margin-left: 475px;
    margin-right: 475px;
    text-align: center;
    font-size: 18px;
    color: white;
    word-break: break-all;
}


.well #wellbutton {
    color: white;
    background-color: #a2c73c;
    width: 200px;
    border-radius: 10px;
    position: relative;
    top: 150px;
  
}
.grid1{
text-align: center;
}
.grid-container1{
    
    margin-top: 88px;
  
}
.grid-item1 {
    
    border: 1px solid white;
    height: 435px;
    width: 330px;
        display: inline-block;

}
.grid-container1 .grid-item1:nth-child(1)
{
    
}

.grid-container1 .grid-item1:nth-child(2)
{
}
.grid-container1 .grid-item1:nth-child(3)
{
  
}


.grid-container2 {
   

}
.grid-item2 {
    display: inline-block;    
    border: 1px solid white;
    height: 435px;
    width: 330px;
}

.grid1 button{
    border-radius: 10px;
    background-color: white;
    border-color: #a2c73c;
    color: #0072bc;
}
