*{
    padding: 0;
    margin: 0;
}


footer{
    background-color: #0f151a;
    width: 100%;
    height: 400px;
    
}


.grid{
    display: inline-grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 300px;
    align-content: center;  
}

.grid-item{
    width: auto;
    height: auto;

    
    }
.grid .grid-item:nth-child(2)
{
    color: white;
    padding:50px;
   
}
.first a{
    display: inline-block;
    padding: 12px;
    margin-top: 30px;
    color: #3e6485;
}


.second a{
    display: inline-block;
    padding: 12px;
    margin-top: 30px;
    color: #3e6485;
}


.grid .grid-item:nth-child(1)
{
    margin-left: 250px;
    margin-top: 20px;
}
.fot{
    margin-left: 195px;
    
}

.social{
    margin-left: 100px;
    margin-top: 40px;
}

.social img{
    margin: 20px;
}

footer > p {
    margin-top: 60px;
    text-align: center;
    color: #3e6485;
}
